.subscribe-box {
    padding: 40px;
background: #0f0c29;  /* fallback for old browsers */
background: url('../img/bg/galaxy-star-infinity-3608029.webp'),-webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: url('../img/bg/galaxy-star-infinity-3608029.webp'),linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   margin-bottom: -73px;
    position: relative;
    z-index: 8;

}
.subscribe-text h1 {
    margin: 0;
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: #fff;
    line-height: 1;
}
.subscribe-text span {
    font-size: 14px;
    color: #fff;
    line-height: 1;
    margin: 0;
    margin-top: 10px;
    display: block;
}
.email-submit-form {
    margin-top: 7px;
}
.subscribe-form form {
    position: relative;
}
.subscribe-form form input {
    height: 46px;
    background: #fff;
    border: 0;
    border-radius: 30px;
    padding-left: 20px;
    width: 100%;
}
.subscribe-form form i {
    top: 50%;
    position: absolute;
    right: 35px;
    color: #002147;
    font-size: 15px;
    transform: translateY(-50%);
}
.small-text{ font-size: .7em; }
.footer-area-5{
    padding:0px 0;
}
.pt-150 {
    padding-top: 150px;
}
.primary-bg {
background: #0575E6;
background: -webkit-linear-gradient(53deg, #021B79, #0575E6);
background: linear-gradient(50deg, #021B79, #0575E6);





}
.footer-top {
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}
.pb-35 {
    padding:0px 35px;
}
.mb-30 {
    margin-bottom: 30px;
}
.gp-10{
    margin-top:23px;
}
.footer-logo {
    margin-bottom: 19px;
}
.footer-area-5 .footer-menu li {
    padding-bottom: 0px;
}
.footer-para p {
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    opacity: .66;
    margin: 0;
}
.footer-socila-icon {
    margin-top: 24px;
}
.footer-socila-icon span {
    font-size: 20px;
    color: #cbcbcb;
    font-weight: 700;
    line-height: 1;
}
.footer-social-icon-list ul li a {
    color: #ffffff;
    opacity: .66;
}
.footer-social-icon-list ul li a:hover {
    color: #fff;
    opacity: 1;
}
.footer-social-icon-list {
    margin-top: 13px;
}
.footer-social-icon-list ul {
    margin: 0px;
    padding: 0px;
}
.footer-social-icon-list ul li {
    display: inline-block;
    margin-right: 19px;
    transition: .3s;
}
.footer-heading h1 {
    font-size: 24px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-bottom: 31px;
}
.footer-menu ul {
    margin: 0px;
    padding: 0px;
}
.footer-menu ul li {
    float: left;
    width: 50%;
    line-height: 1;
}
.footer-menu ul li a {
    font-size: 13px;
    color: #fff;
    opacity: .66;
    padding: 0;
    display: block;
    line-height: 1;
    margin-bottom: 14px;
}
.footer-area-5 .footer-menu ul li a:hover {
    color: #fff;
    opacity: 1;
    padding-left:0px;
}
.mb-25 {
    margin-bottom: 25px;
}
.recent-post-text {
    margin-left: 20px;
}
.recent-post-text p {
    font-size: 13px;
    color: #fff;
    opacity: .66;
    line-height: 24px;
    margin-top: -8px;
    margin-bottom: 0;
}
.footer-time {
    margin-top: 5px;
}
.footer-time span {
    font-size: 12px;
    line-height: 1;
    margin: 0;
    color: #fdc800;
}
span.footer-published-time {
    margin-left: 9px;
    color: #fff;
}
.single-footer-contact-info {
    margin-bottom: 5px;
}
.single-footer-contact-info span {
    font-size: 14px;
    color: #fff;
}
span.footer-contact-list-text {
    font-size: 13px;
    color: #fff;
    opacity: .66;
    margin-left: 9px;
}
.opening-time{    
    margin-top: 15px;
}
.opening-time span {
    display: block;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
span.opening-date {
    font-weight: inherit;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pt-25 {
    padding-top: 25px;
}
.footer-copyright span {
    font-size: 15px;
    color: #fff;
}


.footer-bottom {border: none !important;}

.navbar-area .nav-container .logo a img {
  width: 200px !important;
}
.navbar-area .nav-container {
    padding: 15px 12px;
}
.home-page-padding{
  margin-top: 80px;
}
.home-head-background{background-size: cover;
  background-image: url(../img/bg/galaxy-star-infinity-3608029.webp) !important;
  background-position: center; 
}
.home-head-cover{
background-size: cover;
}

.course-home .nav-item .nav-link {
  font-size: inherit !important;
}

.nav-grade-selector .nav-link {
    padding: 1em;

    margin-right: 10px;
    text-align: center;
    min-width: 112px;
    font-size: 18px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: inset 0px -11px 8px -10px #ccc;
    cursor: pointer;
    font-weight: 500;
    color: #333333;
}

.nav-grade-selector {box-shadow: 2px -11px 8px -10px #ccc inset;
-webkit-box-shadow: 2px -11px 8px -10px #ccc inset;
-moz-box-shadow: 2px -11px 8px -10px #ccc inset;}    
.nav-grade-selector .nav-link.active {
    background-color: #ffffff;
    color: var(--main-color);
   box-shadow: 0px -4px 5px 0px rgb(0 0 0 / 15%);
-webkit-box-shadow: 0px -4px 5px 0px rgb(0 0 0 / 15%);
-moz-box-shadow: 0px -4px 5px 0px rgb(0 0 0 / 15%);




    font-weight: bold;
}

.nav-type-learning .nav-link.active h6{color: #fff; margin-bottom:  0;}
.nav-type-learning .nav-link.active{border: none;}
.nav-type-learning .nav-link h6{ margin-bottom:  0;}

.nav-type-learning .nav-link{border-radius:   0;margin-right:   .5em;
text-align:   center; border:  1px solid #ccc;}

.nav-type-learning .nav-link.active span{display:  block;}

.nav-type-learning .nav-link.active::after
 {
  content: "";
  position: absolute  ;
    border: 20px solid transparent;
  border-top-color: #0d6efd ;

}  
}

.overlay {
  position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.6;
}

.team-area{
}
.team-four .team-style-three:hover .team-img-3 .social-icon-3 a {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.team-four .team-style-three .team-img-3 .social-icon-3 a {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: 0px;
    -webkit-transition: all 0.3s linear, border 0.5s linear, -webkit-transform 0.6s linear;
    transition: all 0.3s linear, border 0.5s linear, -webkit-transform 0.6s linear;
    -o-transition: all 0.3s linear, transform 0.6s linear, border 0.5s linear;
    transition: all 0.3s linear, transform 0.6s linear, border 0.5s linear;
    transition: all 0.3s linear, transform 0.6s linear, border 0.5s linear, -webkit-transform 0.6s linear;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
}
.team-four .team-style-three .team-img-3 .social-icon-3 a:hover {
    border-color: #fff;
}
.team-four .team-style-three .team-img-3 .social-icon-3 {
    width: 100%;
    -webkit-clip-path: inherit;
    clip-path: inherit;
    background: rgba(52, 82, 255, 0.9);
    height: auto;
    padding-bottom: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 0px;
    opacity: 0;
    -webkit-transition: opacity 0.7s linear;
    -o-transition: opacity 0.7s linear;
    transition: opacity 0.7s linear;
}
.team-four .team-style-three:hover .team-img-3 .social-icon-3 {
    opacity: 1;
}
.team-style-three {
    cursor: pointer;
}
.team-style-three .team-img-3 {
    position: relative;
    z-index: 1;
}
.team-style-three .team-img-3 img {
    max-width: 100%;
}
.team-style-three .team-img-3 .social-icon-3 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: #242639;
    width: 110px;
    height: 110px;
    -webkit-clip-path: polygon(0px 100%, 0px 100%, 100% 0px, 100% 100%);
    clip-path: polygon(0px 100%, 0px 100%, 100% 0px, 100% 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-right: 8px;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}
.team-style-three:hover .social-icon-3 {
    background: #3452ff;
}
.social-icon-3 {
    margin-bottom: 0;
}
.team-style-three .team-img-3 .social-icon-3 a {
    font-size: 16px;
    color: #fff;
    margin-right: 8px;
}
.team-style-three .team-img-3 .hover-content-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(21, 24, 40, 0.7);
    z-index: 0;
    padding: 40px;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.team-style-three:hover .hover-content-3 {
    opacity: 1;
}
.team-style-three .team-img-3 .hover-content-3 p {
    font-size: 14px;
    color: #fff;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: opacity 0.7s linear, -webkit-transform 0.5s linear;
    transition: opacity 0.7s linear, -webkit-transform 0.5s linear;
    -o-transition: transform 0.5s linear, opacity 0.7s linear;
    transition: transform 0.5s linear, opacity 0.7s linear;
    transition: transform 0.5s linear, opacity 0.7s linear, -webkit-transform 0.5s linear;
}
.team-style-three:hover .hover-content-3 p {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.team-style-three .content-3 {
    padding: 20px 0px 30px 40px;
    background: white;
}
.team-style-three .content-3 h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #1a1d31;
}
.team-style-three .content-3 p {
    font-size: 13px;
    font-weight: 400;
    color: #717171;
    margin-bottom: 0;
    margin-top: 4px;
}


.team-four .team-style-three:hover .team-img-3 .social-icon-3 a {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.team-four .team-style-three .team-img-3 .social-icon-3 a {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: 0px;
    -webkit-transition: all 0.3s linear, border 0.5s linear, -webkit-transform 0.6s linear;
    transition: all 0.3s linear, border 0.5s linear, -webkit-transform 0.6s linear;
    -o-transition: all 0.3s linear, transform 0.6s linear, border 0.5s linear;
    transition: all 0.3s linear, transform 0.6s linear, border 0.5s linear;
    transition: all 0.3s linear, transform 0.6s linear, border 0.5s linear, -webkit-transform 0.6s linear;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
}
.team-four .team-style-three .team-img-3 .social-icon-3 a:hover {
    border-color: #fff;
}
.team-four .team-style-three .team-img-3 .social-icon-3 {
    width: 100%;
    -webkit-clip-path: inherit;
    clip-path: inherit;
    background: rgba(52, 82, 255, 0.9);
    height: auto;
    padding-bottom: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 0px;
    opacity: 0;
    -webkit-transition: opacity 0.7s linear;
    -o-transition: opacity 0.7s linear;
    transition: opacity 0.7s linear;
}
.team-four .team-style-three:hover .team-img-3 .social-icon-3 {
    opacity: 1;
}



.class-relative{
    position: relative;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 93px;
  height: 93px;
  text-align: right;
}
.ribbon span {
  font-size: 0.6rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 32px;
  transform: rotate(45deg);
  width: 125px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 17px; // change this, if no border
  right: -29px; // change this, if no border
}

.ribbon span::before {
   content: '';
   position: absolute; 
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #79A70A;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.ribbon span::after {
   content: '';
   position: absolute; 
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #79A70A;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}

.red span {
  background: linear-gradient(#f70505 0%, #8f0808 100%);
}
.red span::before {
  border-left-color: #8f0808;
  border-top-color: #8f0808;
}
.red span::after {
  border-right-color: #8f0808;
  border-top-color: #8f0808;
}

.blue span {
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
}
.blue span::before {
  border-left-color: #1e5799;
  border-top-color: #1e5799;
}
.blue span::after {
  border-right-color: #1e5799;
  border-top-color: #1e5799;
}

.foo {
  clear: both;
}

.bar {
  content: "";
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}

.baz {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 2em;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 100px;
  left: 1000px;
}

.custom-shape-divider-bottom-1628061911 {
    position: absolute;
    bottom:-1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1628061911 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 39px;
}

.custom-shape-divider-bottom-1628061911 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1628061911 svg {
        width: calc(100% + 1.3px);
        height: 14px;
    }
}


.grad-bg{background-size:cover;background-position: center;}


.custom-shape-divider-bottom-1628170483 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1628170483 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 28px;
}

.custom-shape-divider-bottom-1628170483 .shape-fill {
    fill: #FFFFFF;
}

/*gradient_backgrounds*/

.bg-gradient-primary {
    background-image: linear-gradient(310deg, #7928ca, #ff0080);
}
.bg-gradient-secondary {
    background-image: linear-gradient(310deg, #627594, #a8b8d8);
}
.bg-gradient-success {
    background-image: linear-gradient(310deg, #17ad37, #98ec2d);
}
.bg-gradient-info {
    background-image: linear-gradient(310deg, #2152ff, #21d4fd);
}
.bg-gradient-warning {
    background-image: linear-gradient(310deg, #f53939, #fbcf33);
}
.bg-gradient-danger {
    background-image: linear-gradient(310deg, #ea0606, #ff667c);
}
.bg-gradient-light {
    background-image: linear-gradient(310deg, #ced4da, #ebeff4);
}
.bg-gradient-dark {
    background-image: linear-gradient(310deg, #141727, #3a416f);
}
.bg-gradient-faded-primary {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(203, 12, 159, 0.6) 0, #9b0979 100%);
}
.bg-gradient-faded-secondary {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(131, 146, 171, 0.6) 0, #657796 100%);
}
.bg-gradient-faded-success {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(130, 214, 22, 0.6) 0, #66a811 100%);
}
.bg-gradient-faded-info {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(23, 193, 232, 0.6) 0, #129aba 100%);
}
.bg-gradient-faded-warning {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(251, 207, 51, 0.6) 0, #f6c105 100%);
}
.bg-gradient-faded-danger {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(234, 6, 6, 0.6) 0, #b80505 100%);
}
.bg-gradient-faded-light {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(233, 236, 239, 0.6) 0, #cbd3da 100%);
}
.bg-gradient-faded-dark {
    background-image: radial-gradient(370px circle at 80% 50%, rgba(52, 71, 103, 0.6) 0, #233045 100%);
}
.bg-gradient-faded-white {
    background-image: radial-gradient(370px circle at 80% 50%, hsla(0, 0%, 100%, 0.6) 0, #e6e6e6 100%);
}
.bg-gradient-faded-primary-vertical {
    background-image: radial-gradient(200px circle at 50% 70%, rgba(203, 12, 159, 0.3) 0, #cb0c9f 100%);
}
.bg-gradient-faded-secondary-vertical {
    background-image: radial-gradient(200px circle at 50% 70%, rgba(131, 146, 171, 0.3) 0, #8392ab 100%);
}
.bg-gradient-faded-success-vertical {
    background-image: radial-gradient(200px circle at 50% 70%, rgba(130, 214, 22, 0.3) 0, #82d616 100%);
}
.bg-gradient-faded-info-vertical {
    background-image: radial-gradient(200px circle at 50% 70%, rgba(23, 193, 232, 0.3) 0, #17c1e8 100%);
}
.bg-gradient-faded-warning-vertical {
    background-image: radial-gradient(200px circle at 50% 70%, rgba(251, 207, 51, 0.3) 0, #fbcf33 100%);
}
.bg-gradient-faded-danger-vertical {
    background-image: radial-gradient(200px circle at 50% 70%, rgba(234, 6, 6, 0.3) 0, #ea0606 100%);
}
.bg-gradient-faded-light-vertical {
    background-image: radial-gradient(200px circle at 50% 70%, rgba(233, 236, 239, 0.3) 0, #e9ecef 100%);
}
.bg-gradient-faded-dark-vertical {
    background-image: radial-gradient(200px circle at 50% 70%, rgba(52, 71, 103, 0.3) 0, #344767 100%);
}
.bg-gradient-faded-white-vertical {
    background-image: radial-gradient(200px circle at 50% 70%, hsla(0, 0%, 100%, 0.3) 0, #fff 100%);
}
.visually-text{display: none;}
.btn-sm-form{    height: 40px; 
    line-height: 40px;
}